# Data Driven Dealings Development


*   EDA on Sales Data
*   RFM Clustering
*   Predicting Sales
*   Market Basket Analysis
*   Recommending Items per Customer

In [45]:
# To be able to use your data stored in your Google Drive you first need to mount your Google Drive so you can load and save files to it. 
from google.colab import drive
drive.mount('/content/gdrive')
#You'll need to put in a token which Google will generate for you as soon as you click on the link

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [60]:
import pandas as pd
data = pd.read_csv("/content/gdrive/My Drive/DDDD_Data-Driven-Dealings-Development-main/market-basket.csv", sep=';')
data.head()

<ipython-input-60-cbf3652360c5>:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("/content/gdrive/My Drive/DDDD_Data-Driven-Dealings-Development-main/market-basket.csv", sep=';')

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,01.12.2010 08:26,"2,55",17850.0,United Kingdom
1,536365,WHITE METAL LANTERN,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom
2,536365,CREAM CUPID HEARTS COAT HANGER,8,01.12.2010 08:26,"2,75",17850.0,United Kingdom
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom

In [47]:
df1 = data[['CustomerID','BillNo','Itemname']]
df1.head()

   CustomerID  BillNo                             Itemname
0     17850.0  536365   WHITE HANGING HEART T-LIGHT HOLDER
1     17850.0  536365                  WHITE METAL LANTERN
2     17850.0  536365       CREAM CUPID HEARTS COAT HANGER
3     17850.0  536365  KNITTED UNION FLAG HOT WATER BOTTLE
4     17850.0  536365       RED WOOLLY HOTTIE WHITE HEART.

## Market Basket Analysis

In [54]:
%%capture
!sudo apt-get update --fix-missing

!apt-get install openjdk-8-jdk-headless -qq > /dev/null

!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz
#!wget -q https://downloads.apache.org/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

!mv spark-3.0.0-bin-hadoop3.2.tgz sparkkk
!tar xf sparkkk
!pip install -q findspark

In [55]:
#pip install spark

In [56]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"

import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName('fpgrowth') \
    .getOrCreate()

spark

In [61]:
#files.upload()

In [67]:
from google.colab import files
from pyspark.sql import functions as F
from pyspark.ml.fpm import FPGrowth
import pandas


sparkdata = spark.createDataFrame(data)
basketdata = sparkdata.dropDuplicates(['BillNo', 'Itemname']).sort('BillNo')
basketdata = basketdata.groupBy("BillNo").agg(F.collect_list("Itemname")).sort('BillNo')

TypeError: ignored

In [ ]:
#Frequent Pattern Growth â€“ FP Growth is a method of mining frequent itemsets
fpGrowth = FPGrowth(itemsCol="collect_list(Itemname)", minSupport=0.006, minConfidence=0.006) 
model = fpGrowth.fit(basketdata)

# Display frequent itemsets.
model.freqItemsets.show()
items = model.freqItemsets
# Display generated association rules.
model.associationRules.show()
rules = model.associationRules
# transform examines the input items against all the association rules and summarize the
# consequents as prediction
model.transform(basketdata).show()
transformed = model.transform(basketdata)

+-------------------+----+
|              items|freq|
+-------------------+----+
|              [257]| 432|
|               [20]|2837|
|              [104]|2417|
|          [104, 20]| 981|
|             [1491]| 432|
|              [110]|2172|
|         [110, 104]| 745|
|     [110, 104, 20]| 476|
|          [110, 20]| 765|
|             [1495]| 431|
|              [103]|2123|
|         [103, 110]| 671|
|    [103, 110, 104]| 445|
|[103, 110, 104, 20]| 348|
|     [103, 110, 20]| 444|
|         [103, 104]| 885|
|     [103, 104, 20]| 572|
|          [103, 20]| 861|
|              [179]| 431|
|               [67]|1975|
+-------------------+----+
only showing top 20 rows

+------------+----------+-------------------+------------------+
|  antecedent|consequent|         confidence|              lift|
+------------+----------+-------------------+------------------+
|       [128]|      [67]| 0.3379978471474704|  8.28753607390552|
|       [128]|      [91]|0.34230355220667386|10.666918802548512|
|       [128]|     [104]|   0.38751345532831| 7.764057338737584|
|       [128]|      [92]| 0.3153928955866523| 9.648273128034885|
|       [128]|     [103]|0.35522066738428415| 8.102645331489093|
|[91, 92, 67]|     [104]| 0.7577197149643705| 15.18135495112313|
|[91, 92, 67]|     [103]| 0.7197149643705463|16.416823770423022|
|   [83, 103]|      [67]|  0.519327731092437|12.733653015636635|
|   [83, 103]|     [110]| 0.5210084033613446|11.616184595385116|
|   [83, 103]|     [104]| 0.5495798319327732|11.011151403051912|
|   [83, 103]|      [20]| 0.6201680672268908|10.585921333637438|
|   [83, 103]|     [120]| 0.5277310924369748| 14.42206878236622|
|   [83, 103]|     [108]| 0.5478991596638656|16.031761151590544|
|       [316]|     [514]| 0.3029087261785356|10.440325960086666|
|       [316]|      [83]|0.35907723169508526| 8.804391909906936|
|       [316]|      [67]|0.30090270812437314| 7.377982047408047|
|       [316]|     [104]| 0.3350050150451354|6.7120202145534655|
|       [316]|     [103]|0.32898696088264795| 7.504249914132412|
|       [316]|      [63]| 0.5536609829488466|20.250443172417555|
|       [316]|      [64]|  0.506519558676028|21.109050041691336|
+------------+----------+-------------------+------------------+
only showing top 20 rows

+------------------+-----------------------+--------------------+
|SalesTransactionID|collect_list(SalesItem)|          prediction|
+------------------+-----------------------+--------------------+
|                 0|                    [0]|                  []|
|                 1|              [0, 1, 2]|                  []|
|                 2|                    [1]|                  []|
|                 3|                    [0]|                  []|
|                 4|                    [0]|                  []|
|                 5|                    [0]|                  []|
|                 6|                    [2]|                  []|
|                 7|                    [2]|                  []|
|                 8|                    [0]|                  []|
|                10|                 [1, 0]|                  []|
|                11|                    [0]|                  []|
|                12|                 [4, 3]|                  []|
|                13|                    [5]|                  []|
|                15|              [7, 8, 9]|[83, 20, 108, 514...|
|                16|   [17, 15, 16, 20, ...|[101, 104, 110, 1...|
|                17|                   [21]|                  []|
|                18|                   [22]|                  []|
|                19|   [33, 41, 27, 34, ...|                  []|
|                20|   [59, 50, 57, 60, ...|                  []|
|                21|                   [62]|                  []|
+------------------+-----------------------+--------------------+
only showing top 20 rows

In [ ]:
# Convert the Spark DataFrame back to a Pandas DataFrame using Arrow
result_pdf = items.select("*").toPandas()
result_pdf.head()

       items  freq
0      [257]   432
1       [20]  2837
2      [104]  2417
3  [104, 20]   981
4     [1491]   432

In [ ]:
result_pdf.to_excel('result_pdfItemsFreq.xlsx')

In [ ]:
rules_pdf = rules.select("*").toPandas()
rules_pdf.head()

  antecedent consequent  confidence       lift
0      [128]       [67]    0.337998   8.287536
1      [128]       [91]    0.342304  10.666919
2      [128]      [104]    0.387513   7.764057
3      [128]       [92]    0.315393   9.648273
4      [128]      [103]    0.355221   8.102645

In [ ]:
rules_pdf.to_excel('rules_pdfAnteConseConfLift.xlsx')

In [ ]:
transformed_pdf = transformed.select("*").toPandas()
transformed_pdf.head()

   SalesTransactionID collect_list(SalesItem) prediction
0                   0                     [0]         []
1                   1               [0, 1, 2]         []
2                   2                     [1]         []
3                   3                     [0]         []
4                   4                     [0]         []

In [ ]:
transformed_pdf.to_excel('transformed_pdfSalesTransactionIDCollectListPred.xlsx')